﻿
<div id="sidebar">
    <DxMenu Orientation="@Orientation.Vertical" CssClass="menu">
        <Items>
            <DxMenuItem NavigateUrl="/admin/book" Text="Sách" CssClass="menu-item" IconCssClass="icon fa fa-book"></DxMenuItem>

            <DxMenuItem NavigateUrl="/admin/order" Text="Đơn hàng" CssClass="menu-item" IconCssClass="icon fa fa-shopping-cart"></DxMenuItem>

            <DxMenuItem NavigateUrl="/admin/category" Text="Thể loại sách" CssClass="menu-item" IconCssClass="icon fa fa-tags"></DxMenuItem>

            <DxMenuItem NavigateUrl="/admin/customer" Text="Khách hàng" CssClass="menu-item" IconCssClass="icon fa fa-users"></DxMenuItem>

            <DxMenuItem NavigateUrl="/admin/promotion" Text="Giảm giá" CssClass="menu-item" IconCssClass="icon fa fa-bullhorn"></DxMenuItem>

            @* <DxMenuItem NavigateUrl="/admin/staff" Text="Staff" CssClass="menu-item" IconCssClass="icon fa fa-user-tie"></DxMenuItem> *@

            <DxMenuItem NavigateUrl="/admin/author" Text="Tác giả" CssClass="menu-item" IconCssClass="icon fa fa-pen-nib"></DxMenuItem>

            <DxMenuItem NavigateUrl="/admin/publisher" Text="Nhà xuất bản" CssClass="menu-item" IconCssClass="icon fa fa-building"></DxMenuItem>

            @* <DxMenuItem NavigateUrl="/admin/changePassword" Text="Change Password" CssClass="menu-item" IconCssClass="icon fa fa-lock"></DxMenuItem> *@

            <DxMenuItem navigateurl="/admin/setting" text="Đăng xuất" cssclass="menu-item" iconcssclass="icon fa fa-sign-out-alt"></DxMenuItem>

        </Items>
    </DxMenu>
</div>
<style>
    .menu-item {
        color: white !important; /* Màu chữ */
    }

    .dxbl-menu-item-text{
        font-family: 'Arial Rounded MT Bold', 'Segoe UI', sans-serif; /* Font chữ */
        font-size: 18px !important; /* Cỡ chữ */
        font-weight: bold; /* Arial Rounded MT Bold đã đủ đậm */
    }
    .home-icon {
        background-image: url(images/home.svg);
        filter: brightness(100%) saturate(100%);
    }

    .counter-icon {
        background-image: url(images/home.svg);
        filter: brightness(100%) saturate(100%);
    }
</style>
@code{

}